@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Eye Catching Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Eye Catching Pro"),
    url("font2/EyeCatchingPro.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.commonbtn {
  width: 13.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  background: #c13261;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  border: none;
}

.word-wrap {
  word-wrap: break-word;
}

.commonheading {
  width: 100%;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.commonheading1 {
  width: 100%;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  /* text-align: center; */
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.commonheadingitalic {
  width: 100%;
  color: #c13261;
  font-family: "Eye Catching Pro";
  font-size: 4.0625rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.commonheadingitalic1 {
  width: 100%;
  color: #c13261;
  font-family: "Eye Catching Pro";
  font-size: 4.0625rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.headingpad {
  padding-top: 4.5rem;
}

#mySidenav {
  display: none;
}

#mobilenavbtn {
  display: none;
}

#orderup {
  display: block;
}

#orderdown {
  display: none;
}

/* add */

.topmessagediv {
  width: 100%;
  height: 3.125rem;
  background-color: #76c0a9;
}

.headingbtn {
  width: 1rem;
  height: 1rem;
  border: none;
  color: white;
  background-color: #76c0a9;
}

.topmessage {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.0625rem;
  text-align: center;
  text-transform: uppercase;
}

/* desktop-nav */
.topnav {
  overflow: hidden;
  background-color: none;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #c13261;
}

.topnav a.active {
  color: #c13261;
}




/* page */
.pageone {
  position: relative;
  background-size: cover;
  background-image: url("images/page1part2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 40.625rem;
  /* background-size: 100% 100%; */
  padding-top: 3.1875rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.mobilepage1heading{
  display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          min-height:50vh;
}

/* pagetwo */

.pagetwowraptext {
  margin-top: 1.5625rem;
}

/* .page2imgdiv{
  margin-top: 3.5rem;
} */
.pagetwoimg {
  margin-top: 3.5rem !important;
  margin-bottom: 5.75rem !important;
}

.pagetwobtn {
  width: 10.3125rem;
  height: 10.3125rem;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 1px dotted black;
  box-shadow: 1px 2px 5px rgba(5, 6, 7, 0.15);
}

.pagetwo {
  /* height: 1.25rem; */
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  /* margin-top: 1.625rem; */
  padding-top: 1.625rem;
}

.pagetwowrap {
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 59.6875rem; */
  background-color: red;
  margin-top: 5.1875rem;
  height: 20%;
  position: relative;
  z-index: 10;
  background-color: white;
  margin-bottom: 7.1875rem;
}

.card2-wrap {
  width: 31.25rem;
  height: 33.3125rem;
}

.card2-maindiv {
  background-image: url("images/pagethreechild-1bg.png");
  width: 31.25rem;
  height: 31.25rem;
  position: relative;
}

.cardtwo {
  left: 6.75rem;
  right: 6.1875rem;
  top: 4.75rem;
  padding: 2.3125rem 1.875rem;
  position: absolute;
  width: 19rem;
  height: 29.6875rem;
  box-shadow: 0 0 1.5625rem rgba(5, 6, 7, 0.15);
  background-color: #f8f8f8;
  opacity: 0.8;
}

.card2-img {
  width: 15.25rem;
  height: 15.25rem;
}

/* page3 */

.page3margin {
  margin-bottom: 5.625rem;
}

.pagethree-title {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.pagethree-info {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

/* slider -page4 */
.sliderdiv {
  width: 100%;
  height: 63.75rem;
  margin-top: 2rem;
  background-color: #f2e5df;
  background-size: 100% 100%;
}

/* videoframediv */
.viedogap1 {
  padding-top: 14.5625rem;

}

.viedogap2 {
  /* padding-top:3.125rem; */
  padding-bottom: 3.125rem;
}

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 34.37rem;
  border: none;
}

.videoframediv {
  background-image: url("images/videopage-bg.png");
  width: 100%;
  height: 40.625rem;
  /* height: auto; */
  /* background-size: 100% 100%; */
  position: relative;
  background-size: cover;
  background-color: #464646;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center center;
}

.videopad {
  padding-top: 3.1875rem;
}

.videotext {
  margin-top: 13.9375rem;
}

.vidbtn {
  padding-top: 2.0625rem;
  padding-bottom: 4.9375rem;
}

.iframediv {
  position: absolute;
  margin-top: 21.875rem;
}

.serviceimage {
  border: none;
}

.servicewrap {
  width: 100%;
  background-color: #f8f8f8;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.36px;
  line-height: normal;
  border: 1px dotted black;
}

.servicetext {
  width: 7.4375rem;
  height: 2.25rem;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.375rem;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.footer {
  color: white;
  width: 100%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  padding-left: 11rem;
  background-color: #322e30;
}

.list {
  list-style-type: none;
  font-family: "Poppins";
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 0;
}

.socialicon {
  color: #e53b73;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}























/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 660px) {
  #orderup {
    display: none;
  }
  .topnav{
    display: none;
  }
  #orderdown {
    display: block;
  }

  #mySidenav {
    display: block;
  }

  #mobilenavbtn {
    display: block;
  }
  .commonheading1 {
    width: 100%;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  .pageoneheaddiv{
margin-top: 5rem;
padding: 0;

  }
.commonheadingitalic1 {
  width: 100%;
  color: #c13261;
  font-family: "Eye Catching Pro";
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

  .commonheading {
    width: 100%;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }

  .commonheadingitalic {
    width: 100%;
    color: #c13261;
    font-family: "Eye Catching Pro";
    font-size: 3.2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }

  .commonbtn {
    width: 13.75rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    background: #c13261;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    border: none;
  }

  /* page2 */
  .pagetwoimg {
    margin-top:0;
  }

  .pagetwo {
    height: 1.25rem;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .pagetwowrap {
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 59.6875rem; */
    background-color: red;
    margin-top:0;
    height: 20%;
    position: relative;
    z-index: 10;
    background-color: white;
    margin-bottom: 0;
  }
  .page2pad {
    margin-top: 0;
    padding-top:0;
  }

  /* page 3 */
  
  .page3margin {
    margin-bottom: 1rem;
  }
    
  .pagethree-title {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .pagethree-info {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
  }

  .commonbtndiv {
    margin-top: 2rem;
  }

  .servicetext {
    /* width: 7.4375rem; */
    /* height: 2.25rem; */
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60%;
    /* line-height: 1.375rem; */
    text-align: left;
    /* font-style: normal; */
    /* letter-spacing: normal;
  line-height: normal; */
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  /* .videopad {} */

  .viedogap1 {
    padding-top: 4rem;
  }

  .viedogap2 {
    padding-bottom: 3.125rem;
  }

  .headingpad {
    padding-top: 3rem;
  }

  .vidbtn {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  /* mobilenav */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #76c0a9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #c13261;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  .mobilenavbtn {
    padding-top: 1.40rem;
  }


  .videoframediv {
    background-image: url("images/videopage-bg.png");
    width: 100%;
    /* height: 33.3125rem; */
    height: auto;
    /* background-size: 100% 100%; */
    position: relative;
    background-size: cover;
    background-color: #464646;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* footer */
  .footer {
    color: white;
    width: 100%;
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-left: 11rem;
    background-color: #322e30;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 660px) {
  #orderup {
    display: none;
  }

  #orderdown {
    display: block;
  }

  /* page3 */
  .pagethree-title {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    /* line-height: 100%; */
  }

  .pagethree-info {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #orderup {
    display: block;
  }

  #orderdown {
    display: none;
  }

  /* page2 */
  .pagetwo {
    /* height: 1.25rem; */
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    /* margin-top: 1.625rem; */
    padding-top: 1.625rem;
  }

  /* page3 */
  .pagethree-title {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    /* line-height: 100%; */
  }

  .pagethree-info {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    font-weight: 400;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* page3 */
  .pagethree-title {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    /* line-height: 100%; */
  }

  .pagethree-info {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /* page3 */
  .pagethree-title {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    /* line-height: 100%; */
  }

  .pagethree-info {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

/* owl carosel */

/* .items {
  width: 90%;
  margin: 0px auto;
  margin-top: 6.25rem;
}

.slick-slide {
  margin: 0.625rem;
}

.slick-slide img {
  width: 100%;
  border: 0px solid #fff;
}

.owl-prev {
  position: absolute;
  margin-top: 0;
  top: 14.125rem;
  right: 318.75rem;
  left: 0rem;

  font-size: 4.125rem;
}

.owl-next {
  margin-left: 74.6875rem;
  position: absolute;
  top: 14.125rem;
  right: 0.625rem;
  font-size: 4px;
  left: 0rem;
}

.owl-theme .owl-dots .owl-dot span {
  width: 0.625rem;
  height: 0.625rem;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;

  transition: all 0.2s ease;
  border-radius: 1.875rem;
} */

/* card3 */

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 6.25rem;
}

.cardthree-div {
  width: 22.3125rem;
  height: 37.5rem;
  box-shadow: 0 0 0.625rem #05060726;
  background-color: #ffffff;
  padding-left: 1.8125rem;
  padding-right: 1.75rem;
  padding-top: 1.75rem;
  padding-bottom: 2.3125rem;
}

.card3-img {
  width: 18.75rem;
  height: 18.75rem;
  margin-bottom: 1.75rem;
}

.page3-title {
  height: 1.375rem;
  color: #c13261;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.875rem;
  text-align: left;
  /* Text style for "Goeie verp" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.page3-info {
  /* Style for "Ontzettend" */
  color: #000000;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.75rem;
  text-align: left;
  /* Text style for "O, ntzette" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 1.375rem;
  margin-bottom: 1.4375rem;
}



.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px;
}